@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

body{
    border:2px solid red;
    color: blue;
}



.audioPlayer {
    box-shadow: 0 0 32px 4px rgba(0,0,0,0.2);
    font-family: 'Source Sans Pro', sans-serif;
    width: 100%;
    display: flex;
}
    canvas {
      
        width: 100%;
        background-color: blue;
    }