@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

*{
    box-sizing: border-box;
}
body{
    color: blue;
    max-width: 100%;
    /* border:2px solid orange; */
    margin: 0 auto;
}



.audioPlayer {
       /* entire player components */
    font-family: 'Source Sans Pro', sans-serif;

    
  
}
canvas {
      
        height: 300px; 
        background-color: black;
    }

.playlist{
    /* songs list*/
    display:flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
      
}

a{
   
   /* padding: .75rem 2.5rem;*/
    display: flex;
    align-items: center;  
    text-decoration: none;
}

.play{
   
  
}

.container{
   
    border: 2px solid red;
   
}

.progressBar{
    background-color: white;
    height: 100px;
    border: 2px solid blue;
}
.progressBar canvas{
    height: 30px;
   
}

.timer{
    color:black;
   

}

i { 
    color:red;
    /*
    font-size: .75rem;
    margin-right: .5rem;
    */
}